/*------------------------------------*\
  # Variables
\*------------------------------------*/
/* --- Media Breakpoints --- */
$breakpoint-sm: 600px;
$breakpoint-md: 960px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1920px;

/* --- Colors --- */
$black: #000000;
$white: #FFFFFF;
