/*------------------------------------*\
  # Variables
\*------------------------------------*/
/* --- Media Breakpoints --- */
$breakpoint-sm: 600px;
$breakpoint-md: 960px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1920px;

/* --- Fonts --- */
@font-face {
    font-family: "Raleway";
    src: url('/resources/fonts/Raleway.ttf');
}
@font-face {
    font-family: "SignPainter";
    src: url('/resources/fonts/SignPainter-HouseScript.ttf');
}

/* --- Colors --- */
$black: #000000;
$white: #FFFFFF;
$red-light: #f8d7da;
$red-text: #721c24;

$blue-hover: #2573d8;
$brown-dark: #2a1e05;
$brown-med: #89765d;
$brown-light: #b29976;
$brown-text: #d8d0c5;
$cream: #f3f1ed;
$gray: #d8d8d8;
