@import 'Const';

.page--sitedown {
    background: $brown-text;

    .message {
        margin-top: 10%;
        @include layout('gt-sm') {
            margin-top: 200px;
        }
        min-height: 100px;
        min-width: 100px;
        background: $brown-light;

        .message__img {
            max-width: 200px;
            margin: $unit*2;
        }
        .message__text {
            margin: $unit*2 $unit*2 0;
            padding: $unit*2;

            background: $red-light;
            color: $brown-text;
            font-family: "Raleway";
            font-size: 16px;
        }
    }
}
