@import 'Const';

.page--sitedown {
    background: $cream;

    .page__content {
        padding-bottom: 100px;
    }
    .message {
        margin: 10% $unit*2 auto;
        @media screen and (orientation: landscape) {
            margin-top: $unit*2;
        }
        @include layout('gt-sm') {
            margin-top: 10%;
        }
        min-height: 100px;
        min-width: 100px;
    }
    .message__img {
        max-width: 200px;
        margin: $unit*2;
    }
    .message__text {
        margin: $unit*2 $unit*2 0;
        padding: $unit*2;

        background: $red-light;
        color: $red-text;
        font-family: "Raleway";
        font-size: 14px;
        @include layout('gt-sm') {
            font-size: 16px;
        }
        @include layout('gt-md') {
            font-size: 20px;
        }
    }
}
