@import 'Const';

.page--home {
    background: $white;

    .hero {
        min-height: 583px;
        height: 583px;
        max-height: 583px;
    }

    $gutter-space: $unit;
    $grid-list-height: 300px*4 + $gutter-space*5;
    $grid-list-height-gt-sm: 300px*2 + $gutter-space*3;
    .grid-list-container {
        min-height: $grid-list-height;
        height: $grid-list-height;
        max-height: $grid-list-height;
    }
    @include layout('gt-sm') {
        .grid-list-container {
            min-height: $grid-list-height-gt-sm;
            height: $grid-list-height-gt-sm;
            max-height: $grid-list-height-gt-sm;
        }
    }
    .grid-list {
        .grid-list__item > * {
            height: 300px;
            margin: $gutter-space/2;
        }
        margin: $gutter-space/2;
        @include layout('gt-sm') {
            margin: $gutter-space/2 0;
            .grid-list__item--left > * {
                margin-left: 0;
            }
            .grid-list__item--right > * {
                margin-right: 0;
            }
        }
    }
    .bottom-container {
        z-index: 1;
    }
    .get-a-quote {
        height: 130px;
        width: 100%;
        background: $brown-dark;

        .callToAction {
            margin: $unit;
        }
    }
    .split-container {
        .split-container__item {
            padding: $unit*2 0;
            
            height: 619px;
            @include layout('xs') {
                min-height: 840px;
                max-height: 840px;
            }
            @media screen and (min-width: 480px) {
                min-height: 619px;
                max-height: 619px;
            }

            .item__title {
                margin: $unit*4 $unit*4 $unit*2;
                color: $brown-med;
                font-size: 55px;
                font-family: 'SignPainter';
                text-align: center;
                text-transform: capitalize;
            }
            .item__description {
                text-align: center;
                padding: $unit*2 $unit*6;
                line-height: 24px;
                font-size: 15px;
                color: $brown-dark;
            }
        }
        .our-clients {
            background: $cream;
        }
        .have-questions {
            background: $gray;
        }
    }
    .social-media {
        min-height: 220px;
        margin: $unit*2;
        color: $brown-med;

        .social-media__handle {
            padding: $unit*2;
            font-size: 12px;
            letter-spacing: 2.45px;
            color: $brown-dark;
            text-transform: uppercase;
        }
        .social-media__follow-us-title {
            font-size: 60px;
            font-family: 'SignPainter';
            text-align: center;
        }
        .callToAction {
            padding-bottom: $unit*6;
        }
    }
    .image-belt {
        background: $cream;
        min-height: 200px;
    }
    .footer {
        background: $brown-dark;
        min-height: 200px;
        color: $brown-text;
    }
    .copyright {
        padding: $unit;
        background: $brown-dark;
        color: $brown-text;

        .copyright__divider{
            display: none;   
            @include layout('gt-sm') {
                display: block;   
            }
        }
    }
}
