<div class="page--home"
     layout-fill
     layout="column" layout-align="start center">
    <monterey-signs-navbar data-show-search-bar="true"></monterey-signs-navbar>
    <md-sidenav class="md-sidenav-right"
                md-component-id="right">
        <md-list flex>
        <md-subheader class="md-no-sticky item item--title"
                      translate="Monterey Signs"></md-subheader>
        <md-list-item class="md-1-line item item--main"
                      aria-label="Monterey Signs"
                      ng-click="page.btn.goto_url(Const.Url.Sitedown)">
            <div class="md-list-item-text" layout="column">
                <h3 translate="choose_sign"></h3>
            </div>
        </md-list-item>
        <md-divider ></md-divider>
        <md-list-item class="md-1-line item item--sub"
                      aria-label="commercial"
                      ng-click="page.btn.goto_url(Const.Url.Sitedown)">
            <div class="md-list-item-text" layout="column">
                <h4 translate="commercial"></h3>
            </div>
        </md-list-item>
        <md-list-item class="md-1-line item item--sub"
                      aria-label="electrical"
                      ng-click="page.btn.goto_url(Const.Url.Sitedown)">
            <div class="md-list-item-text" layout="column">
                <h4 translate="electrical"></h3>
            </div>
        </md-list-item>
        <md-list-item class="md-1-line item item--sub"
                      aria-label="print"
                      ng-click="page.btn.goto_url(Const.Url.Sitedown)">
            <div class="md-list-item-text" layout="column">
                <h4 translate="print"></h3>
            </div>
        </md-list-item>
        <md-list-item class="md-1-line item item--sub"
                      aria-label="services"
                      ng-click="page.btn.goto_url(Const.Url.Sitedown)">
            <div class="md-list-item-text" layout="column">
                <h4 translate="services"></h3>
            </div>
        </md-list-item>
        <md-divider ></md-divider>
        <md-list-item class="md-1-line item item--main"
                      aria-label="our_work"
                      ng-click="page.btn.goto_url(Const.Url.Sitedown)">
            <div class="md-list-item-text" layout="column">
                <h3 translate="our_work"></h3>
            </div>
        </md-list-item>
        <md-list-item class="md-1-line item item--main"
                      aria-label="sign_stories"
                      ng-click="page.btn.goto_url(Const.Url.Sitedown)">
            <div class="md-list-item-text" layout="column">
                <h3 translate="sign_stories"></h3>
            </div>
        </md-list-item>
        <md-list-item class="md-1-line item item--main"
                      aria-label="about_us"
                      ng-click="page.btn.goto_url(Const.Url.Sitedown)">
            <div class="md-list-item-text" layout="column">
                <h3 translate="about_us"></h3>
            </div>
        </md-list-item>
        <md-list-item class="md-1-line item item--main"
                      aria-label="nuts_bolts"
                      ng-click="page.btn.goto_url(Const.Url.Sitedown)">
            <div class="md-list-item-text" layout="column">
                <h3 translate="nuts_bolts"></h3>
            </div>
        </md-list-item>
        <md-divider ></md-divider>
        <div class="callToAction button--brown"
             layout="row" layout="center center">
            <md-button class="callToAction__btn"
                       aria-label="{{'btn_get_quote'| translate}}"
                       ng-click="page.btn.goto_url(Const.Url.Sitedown)"
                       ng-bind="'btn_get_quote' | translate"></md-button>
        </div>
    </md-sidenav>
    <md-content class="page__content"
                flex
                layout="column" layout-align="start space-around">
        <carousel class="hero"
                  flex
                  data-hero="page.template.hero"></carousel>
        <div class="grid-list-container">
            <div class="grid-list"
                 layout-wrap
                 layout="row" layout-align="space-around space-around">
                <div class="grid-list__item"
                     ng-class="{'grid-list__item--left': ($even === true),
                            'grid-list__item--right': ($even === false)}"
                     ng-repeat="obj in page.template.list_type"
                     flex="100" flex-gt-sm="50">
                    <sign-type-panel flex
                                     data-goto-url="{{obj[Const.P.Url]}}"
                                     data-key="{{obj[Const.P.Key]}}"
                                     data-show-blurb="true"
                                     data-image-url="{{obj[Const.P.Image]}}"></sign-type-panel>
                </div>
            </div>
        </div>
        <div class="bottom-container">
            <div class="get-a-quote"
                 layout="column" layout-align="center center">
                <div class="callToAction">
                    <md-button class="callToAction__btn"
                               aria-label="{{'btn_get_quote'| translate}}"
                               ng-click="page.btn.goto_url(Const.Url.Sitedown)"
                               ng-bind="'btn_get_quote' | translate"></md-button>
                </div>
            </div>
            <div class="split-container"
                 layout="column" layout-align="start center"
                 layout-gt-sm="row" layout-align-gt-sm="start center">
                <div class="split-container__item our-clients"
                     layout="column" layout-align="start center"
                     flex="50">
                    <span class="item__title"
                          translate="our_clients"></span>
                    <div class="client-grid"
                         layout-wrap
                         layout="row" layout-align="start start">
                        <img flex="50" flex-gt-xs="33"
                             class="client-grid__item"
                             ng-repeat="image in page.template.our_clients"
                             ng-src="{{image}}" />
                    </div>
                </div>
                <div class="split-container__item have-questions"
                     layout="column" layout-align="start center"
                     flex="50">
                    <span class="item__title"
                          translate="questions"></span>
                    <span class="item__description"
                          translate="more_info_2a"></span>
                    <span class="item__description"
                          translate="more_info_2b"></span>
                    <span class="item__description"
                          translate="more_info_2c"></span>
                    <div class="callToAction button--light-brown">
                        <md-button class="callToAction__btn"
                                   aria-label="{{'contact_us'| translate}}"
                                   ng-click="page.btn.goto_url(Const.Url.Sitedown)"
                                   ng-bind="'contact_us' | translate"></md-button>
                    </div>
                </div>
            </div>
            <div class="social-media"
                 layout="column" layout-align="center center">
                <span class="social-media__handle"
                      translate="twitter_handle"></span>
                <span class="social-media__follow-us-title"
                      translate="instagram"></span>
                <div class="callToAction button--brown">
                    <md-button class="callToAction__btn"
                               aria-label="{{'btn_follow'| translate}}"
                               ng-click="page.btn.goto_url(Const.Url.Sitedown)"
                               ng-bind="'btn_follow' | translate"></md-button>
                </div>
            </div>
            <div class="image-belt"
                 layout="row" layout-align="start start">
                <div flex="20"
                     class="image-belt__item"
                     ng-class="{'first': ($first === true),
                                'last': ($last === true)}"
                     ng-repeat="image in page.template.image_belt"
                     style="background: url({{image}})"></div>
            </div>
            <div class="footer"
                 layout="column" layout-align="start center"
                 layout-gt-xs="row" layout-align-gt-xs="start space-between">
                <div class="footer__section sitemap"
                     flex="33"
                     layout="column" layout-align="start center"
                     layout-gt-sm="column" layout-align-gt-sm="start start">
                    <span class="footer__title"
                          translate="choose_sign"
                          ng-click="page.btn.goto_url(Const.Url.Sitedown)"></span>
                    <div class="spacer"
                         layout="column" layout-align="start start">
                        <span class="footer__description"
                              ng-click="page.btn.goto_url(Const.Url.Sitedown)"
                              translate="commercial"></span>
                        <span class="footer__description"
                              ng-click="page.btn.goto_url(Const.Url.Sitedown)"
                              translate="electrical"></span>
                        <span class="footer__description"
                              ng-click="page.btn.goto_url(Const.Url.Sitedown)"
                              translate="print"></span>
                        <span class="footer__description"
                              ng-click="page.btn.goto_url(Const.Url.Sitedown)"
                              translate="services"></span>
                    </div>
                    <span class="footer__title compact"
                          ng-click="page.btn.goto_url(Const.Url.Sitedown)"
                          translate="our_work"></span>
                    <span class="footer__title compact"
                          ng-click="page.btn.goto_url(Const.Url.Sitedown)"
                          translate="sign_stories"></span>
                    <span class="footer__title compact"
                          ng-click="page.btn.goto_url(Const.Url.Sitedown)"
                          translate="about_us"></span>
                    <span class="footer__title compact"
                          ng-click="page.btn.goto_url(Const.Url.Sitedown)"
                          translate="nuts_bolts"></span>
                </div>
                <div class="footer__section get-started"
                     flex="33"
                     layout="column" layout-align="start center">
                    <span class="footer__title"
                          translate="get_started"></span>
                    <span class="footer__description"
                          translate="get_started_info"></span>
                    <div class="callToAction">
                        <md-button class="callToAction__btn"
                                   aria-label="{{'btn_get_quote'| translate}}"
                                   ng-click="page.btn.goto_url(Const.Url.Sitedown)"
                                   ng-bind="'btn_get_quote' | translate"></md-button>
                    </div>
                    <div class="social-media-bar"
                         layout="row" layout-align="center center">
                        <md-icon md-svg-icon="social:facebook" aria-label="facebook"></md-icon>
                        <md-icon md-svg-icon="social:instagram" aria-label="instagram"></md-icon>
                        <md-icon md-svg-icon="social:yelp" aria-label="yelp"></md-icon>
                    </div>
                </div>
                <div class="footer__section contact-us"
                     flex="33"
                     layout="column" layout-align="start center"
                     layout-gt-sm="column" layout-align-gt-sm="start end">
                    <div layout="column" layout-align="start start">
                        <span class="footer__title"
                              translate="contact_us"></span>
                        <span class="footer__description"
                              translate="entity_name"></span>
                        <span class="footer__description"
                              translate="address1"></span>
                        <span class="footer__description"
                              translate="address2"></span>
                        <span class="footer__description spacer"
                              translate="phone"></span>
                        <span class="footer__description"
                              translate="email"></span>
                    </div>
                </div>
            </div>
            <div class="copyright"
                 layout="column" layout-align="center center"
                 layout-gt-sm="row" layout-align-gt-sm="center center">
                <span translate="copyright1"
                      translate-values="{year: Const.Default.Year}"></span>
                <span class="copyright__divider">&nbsp;|&nbsp;</span>
                <span translate="copyright2"
                      translate-values="{year: Const.Default.Year}"></span>
            </div>
        </div>
    </md-content>
</div>
